#addWidgetModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
        h4.modal-title Add Widget
      .modal-body
        p Add a widget stuff here..
      .modal-footer
        a.btn(href="#", data-dismiss="modal") Close
        a.btn.btn-primary(href="#") Save changes
    // /.modal-content
  // /.modal-dalog
// /.modal