a(href="#")
  strong
    i.glyphicon.glyphicon-wrench
    | Tools

hr

ul.list-unstyled

  li.nav-header

    include settings

  li.nav-header

    include reports

  li.nav-header

    include social_media

hr

include resources

hr

include nav_group_1

hr

include nav_group_2

include whats_more

hr

include nav_group_3
