ul.nav.nav-pills.nav-stacked
  li.nav-header
  li
    a(href="#")
      i.glyphicon.glyphicon-list
      | Layouts &#38; Templates
  li
    a(href="#")
      i.glyphicon.glyphicon-briefcase
      | Toolbox
  li
    a(href="#")
      i.glyphicon.glyphicon-link
      | Widgets
  li
    a(href="#")
      i.glyphicon.glyphicon-list-alt
      | Reports
  li
    a(href="#")
      i.glyphicon.glyphicon-book
      | Pages
  li
    a(href="#")
      i.glyphicon.glyphicon-star
      | Social Media