ul.nav.nav-stacked
  li.active
    a(href="http://bootply.com", title="The Bootstrap Playground", target="ext") Playground
  li
    a(href="/tagged/bootstrap-3") Bootstrap 3
  li
    a(href="/61518", title="Bootstrap 3 Panel") Panels
  li
    a(href="/61521", title="Bootstrap 3 Icons") Glyphicons
  li
    a(href="/62603") Layout
hr