ul.nav.nav-stacked
  li.active
    a(rel="nofollow", href="http://goo.gl/pQoXEh", target="ext") Premium Themes
  li
    a(rel="nofollow", href="http://gridgum.com/themes/category/bootstrap-themes/?affiliates=45") GridGum
  li
    a(rel="nofollow", href="http://bootstrapzero.com") BootstrapZero