a(href="#", data-toggle="collapse", data-target="#menu2")
  h5
    | Reports
    i.glyphicon.glyphicon-chevron-right

ul#menu2.list-unstyled.collapse
  li
    a(href="#") Information &#38; Stats
  li
    a(href="#") Views
  li
    a(href="#") Requests
  li
    a(href="#") Timetable
  li
    a(href="#") Alerts