a(href="#", data-toggle="collapse", data-target="#userMenu")
  h5
    | Settings
    i.glyphicon.glyphicon-chevron-down

ul#userMenu.list-unstyled.collapse.in
  li.active
    a(href="#")
      i.glyphicon.glyphicon-home
      | Home
  li
    a(href="#")
      i.glyphicon.glyphicon-envelope
      | Messages
      span.badge.badge-info 4
  li
    a(href="#")
      i.glyphicon.glyphicon-cog
      | Options
  li
    a(href="#")
      i.glyphicon.glyphicon-comment
      | Shoutbox
  li
    a(href="#")
      i.glyphicon.glyphicon-user
      | Staff List
  li
    a(href="#")
      i.glyphicon.glyphicon-flag
      | Transactions
  li
    a(href="#")
      i.glyphicon.glyphicon-exclamation-sign
      | Rules
  li
    a(href="#")
      i.glyphicon.glyphicon-off
      | Logout