a(href="#", data-toggle="collapse", data-target="#menu3")
  h5
    | Social Media
    i.glyphicon.glyphicon-chevron-right
ul#menu3.list-unstyled.collapse
  li
    a(href="#")
      i.glyphicon.glyphicon-circle
      | Facebook
  li
    a(href="#")
      i.glyphicon.glyphicon-circle
      | Twitter