.panel.panel-default
  .panel-heading
    .panel-title
      h4 Engagement
  .panel-body
    .col-xs-4.text-center
      img.img-circle.img-responsive(src="http://placehold.it/80/BBBBBB/FFF")
    .col-xs-4.text-center
      img.img-circle.img-responsive(src="http://placehold.it/80/EFEFEF/555")
    .col-xs-4.text-center
      img.img-circle.img-responsive(src="http://placehold.it/80/EEEEEE/222")
// /panel