ul.list-inline.pull-right
  li
    a(href="#")
      i.glyphicon.glyphicon-cog
  li.dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown")
      i.glyphicon.glyphicon-comment
      span.count 3
    ul.dropdown-menu(role="menu")
      li
        a(href="#") 1. Is there a way..
      li
        a(href="#") 2. Hello, admin. I would..
      li
        a(href="#")
          strong All messages
  li
    a(href="#")
      i.glyphicon.glyphicon-user
  li
    a(title="Add Widget", data-toggle="modal", href="#addWidgetModal")
      span.glyphicon.glyphicon-plus-sign
      | Add Widget
a(href="#")
  strong
    i.glyphicon.glyphicon-dashboard
    | My Dashboard