// column 2
include header

hr

.row
  // center left
  .col-md-6
    include inbox_messages
    hr
    include operatebar
    hr
    include reports
    hr
    include tabs
    hr
    include new_requests
  // /col-span-6

  .col-md-6
    include notices
    include table
    include post_request
  // /col-span-6
// /row

hr

include discussions

hr

.row
  .col-md-12
    include list_group
// /col-span-9