ul.list-group
  li.list-group-item
    a(href="#")
      i.glyphicon.glyphicon-flash
      small (3 mins ago)
      | The 3rd page reports don"t contain any links. Does anyone know why..
  li.list-group-item
    a(href="#")
      i.glyphicon.glyphicon-flash
      small (1 hour ago)
      | Hi all, I"ve just post a report that show the relationship betwe..
  li.list-group-item
    a(href="#")
      i.glyphicon.glyphicon-heart
      small (2 hrs ago)
      | Paul. That document you posted yesterday doesn"t seem to contain the over..
  li.list-group-item
    a(href="#")
      i.glyphicon.glyphicon-heart-empty
      small (4 hrs ago)
      | The map service on c243 is down today. I will be fixing the..
  li.list-group-item
    a(href="#")
      i.glyphicon.glyphicon-heart
      small (yesterday)
      | I posted a new document that shows how to install the services layer..
  li.list-group-item
    a(href="#")
      i.glyphicon.glyphicon-flash
      small (yesterday)
      | ..