.panel.panel-default
  .panel-heading
    h4 Notices
  .panel-body
    .alert.alert-info
      button.close(type="button", data-dismiss="alert") &#215;
      | This is a dismissable alert.. just sayin".
    | This is a dashboard-style layout that uses Bootstrap 3. You can use this template as a starting point to create something more unique.
    br
    br
    | Visit the Bootstrap Playground at
    a(href="http://bootply.com") Bootply
    | to tweak this layout or discover more useful code snippets.