.btn-group.btn-group-justified
  a.btn.btn-primary.col-sm-3(href="#")
    i.glyphicon.glyphicon-plus
    br
    | Service
  a.btn.btn-primary.col-sm-3(href="#")
    i.glyphicon.glyphicon-cloud
    br
    | Cloud
  a.btn.btn-primary.col-sm-3(href="#")
    i.glyphicon.glyphicon-cog
    br
    | Tools
  a.btn.btn-primary.col-sm-3(href="#")
    i.glyphicon.glyphicon-question-sign
    br
    | Help