.panel.panel-default
  .panel-heading
    .panel-title
      i.glyphicon.glyphicon-wrench.pull-right
      h4 Post Request
  .panel-body
    form.form.form-vertical
      .control-group
        label Name
        .controls
          input.form-control(type="text", placeholder="Enter Name")
      .control-group
        label Message
        .controls
          textarea.form-control
      .control-group
        label Category
        .controls
          select.form-control
            option options
      .control-group
        label
        .controls
          button.btn.btn-primary(type="submit")
            | Post
  // /panel content
// /panel