table.table.table-striped
  thead
    tr
      th Visits
      th ROI
      th Source
  tbody
    tr
      td 45
      td 2.45%
      td Direct
    tr
      td 289
      td 56.2%
      td Referral
    tr
      td 98
      td 25%
      td Type
    tr
      td ..
      td ..
      td ..
    tr
      td ..
      td ..
      td ..